In [157]:
import pandas as pd

In [ ]:
eleve=pd.read_excel("C:/Users/awa adama/Desktop/projet_edacy/Awa_edacy_admis.xlsx", index_col=None)

In [158]:
eleve

,Nom,Prénom,Adresse,Moyenne,Age,Région,Spécialité,Sexe
0,BA,Binta,Yoff,14,18,Dakar,Data Science,F
1,CISSE,Aissatou,Pikine,14,23,Dakar,Developpement Mobile,F
2,CAMARA,Ibrahima,Guediawye,15,17,Dakar,Developpement Web,M
4,DIA,Mamadou,Keur Massar,15,27,Dakar,Data Science,M

In [125]:
admis=eleve[eleve["Moyenne"]>10]

In [159]:
admis

,Nom,Prénom,Adresse,Moyenne,Age,Région,Spécialité,Sexe
0,BA,Binta,Yoff,14,18,Dakar,Data Science,F
1,CISSE,Aissatou,Pikine,14,23,Dakar,Developpement Mobile,F
2,CAMARA,Ibrahima,Guediawye,15,17,Dakar,Developpement Web,M
4,DIA,Mamadou,Keur Massar,15,27,Dakar,Data Science,M

In [127]:
admis.to_excel("C:/Users/awa adama/Desktop/projet_edacy/Awa_edacy_admis.xlsx")

In [129]:
eleve_adulte=eleve[eleve["Age"]>20]

In [160]:
eleve_adulte

,Nom,Prénom,Adresse,Moyenne,Age,Région,Spécialité,Sexe
1,CISSE,Aissatou,Pikine,14,23,Dakar,Developpement Mobile,F
4,DIA,Mamadou,Keur Massar,15,27,Dakar,Data Science,M

In [12]:
eleve_adulte.to_excel("C:/Users/awa adama/Desktop/projet_edacy/Awa_edacy_eleve_adulte.xlsx")

In [131]:
moyenne_ecole=eleve["Moyenne"].mean()

In [161]:
moyenne_ecole

14.5

In [133]:
filles=eleve[eleve["Sexe"]=="f"]

In [165]:
filles

Empty DataFrame
Columns: [Nom, Prénom, Adresse, Moyenne, Age, Région, Spécialité, Sexe]
Index: []

In [163]:
filles["Nom"].count()

0

In [164]:
pourcentage_filles=(filles["Nom"].count()/eleve["Nom"].count())*100

In [19]:
pourcentage_filles

40.0

In [20]:
garçons=eleve[eleve["Sexe"]=="m"]

In [21]:
garçons["Nom"].count()

3

In [135]:
pourcentage_garçons=(garçons["Nom"].count()/eleve["Nom"].count())*100

In [136]:
pourcentage_garçons

0.0

In [137]:
region_meilleurs_eleves=eleve.sort_values(by="Moyenne", ascending=False)

In [138]:
region_meilleurs_eleves

,Nom,Prénom,Adresse,Moyenne,Age,Région,Spécialité,Sexe
2,CAMARA,Ibrahima,Guediawye,15,17,Dakar,Developpement Web,M
4,DIA,Mamadou,Keur Massar,15,27,Dakar,Data Science,M
0,BA,Binta,Yoff,14,18,Dakar,Data Science,F
1,CISSE,Aissatou,Pikine,14,23,Dakar,Developpement Mobile,F

In [166]:
region_meilleurs_eleves=region_meilleurs_eleves["Region"].head(1)

KeyError: 'Region'

In [167]:
region_meilleurs_eleves

,Nom,Prénom,Adresse,Moyenne,Age,Région,Spécialité,Sexe
2,CAMARA,Ibrahima,Guediawye,15,17,Dakar,Developpement Web,M
4,DIA,Mamadou,Keur Massar,15,27,Dakar,Data Science,M
0,BA,Binta,Yoff,14,18,Dakar,Data Science,F
1,CISSE,Aissatou,Pikine,14,23,Dakar,Developpement Mobile,F

In [168]:
d={'moyenne_ecole':moyenne_ecole, 'pourcentage_filles':pourcentage_filles,  'pourcentage_garçons':pourcentage_garçons,
      'region_meilleurs_eleves':region_meilleurs_eleves}

In [174]:
stats_globales_ecole=pd.DataFrame(data=d)

ValueError: If using all scalar values, you must pass an index

In [175]:
stats_globales_ecole

NameError: name 'stats_globales_ecole' is not defined

In [3]:
stats_globale.to_excel("C:/Users/awa adama/Desktop/projet_edacy/Aw_edacy_sats_global.xlsx")

NameError: name 'stats_globale' is not defined